@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, rgb(4, 4, 56) 10%, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}

.contener {
    background-image:
    linear-gradient(to right, rgba(4, 4, 56, 0.911) 10%, rgba(0, 0, 0, 0.477)),
    url(./bg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.contener:hover{
    background-image:
    linear-gradient(to right, rgba(4, 4, 56, 0.894) 20%, rgba(0, 0, 0, 0.237)),
    url(./bg.jpg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 17px;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: context-menu;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 14px;
}
li:hover{
    text-decoration: white underline;
    font-size: larger;
}
.logo:hover{
    text-shadow: 2px 1px 2px rgb(9, 9, 221);
}
.content{
    color: white;
    width:45% ;
    margin-top: 130px;
    padding: 20px;
}
h2{
    font-size: 50px;
    padding-bottom: 10px;
    font-weight: bold;

}
p{
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: -1px;
    max-width: 180px;
    text-wrap: initial;
}
button{
    padding: 3px 7px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    color: white;
    border: 1px white solid;
    
}
@media (max-width:450px) {
    ul{
        gap: 10px;
    }
    .logo{
        font-size: 25px;
        padding-right: 15px;
    }
    ul{
        gap: 7px;
    }
    
}
.login{
    display: flex;
    align-items: flex-start;
    height: 100vh;
}
@media (max-width:600px) {
    ul{
        gap: 10px;
    }
    .logo{
        font-size: 25px;
        padding-right: 15px;
    }
    ul{
        gap: 20px;
    }
    
}