@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, rgb(4, 4, 56) 10%, black);
    background-image: linear-gradient(to right, rgb(4, 4, 56) 10%, black);
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.contener {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 17px;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: context-menu;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

header ul li:hover {
    text-decoration: underline white;
    font-size: larger;
}

.logo:hover {
    text-shadow: 2px 1px 2px rgb(9, 9, 221);
}

.content {
    background-image: linear-gradient(to right, rgb(9, 9, 99) 10%, rgba(13, 8, 71, 0.208));
    width: 90%;
    max-width: 300px;
    margin: 130px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    /* توسيط أفقي تلقائي */

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 5px rgba(16, 5, 133, 0.564);;

}
.log{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 12px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.674);
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

}

input {
    color: white;
    background-image: linear-gradient(to right, rgb(4, 4, 56) 10%, black);
    padding: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#submit{
    font-size:large ;
}

.create {
    color: rgb(0, 98, 255);
    padding-top: 5px;
    font-weight: 500;
    margin: auto;
    padding: 6px;
}
#back{
    width: 100%;
    font-size: large;
    margin: 5px;
    border: none;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    ul {
        gap: 15px;
        font-size: 12px;
    }

    .logo {
        font-size: 28px;
    }

    .content {
        margin-top: 120px;
    }
}